* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: #0B0C10;
    --container-background-color: #1f2833;
    --primary-text-color: #66FCF1;
    --secondary-text-color: #45A29E;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--background-color);
    font-weight: 400;
    font-style: normal;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.6rem;
}

body,
input,
button {
    font-family: cursive;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    max-width: 100px;
}

.container {
    width: 100%;
    max-width: 80.35rem;
    padding: 1rem;
    border: 2px solid var(--primary-text-color);
    border-radius: 0.5rem;
    display: grid;
    grid-template-columns: 0.8fr 2fr;
    gap: 1rem;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    line-height: 2;
}

form>input {
    padding: 0.6rem 1rem;
    outline: none;
    border: none;
    border-radius: 1.5rem;
    background: var(--container-background-color);
}

form>input[type="text"] {
    font-size: 01rem;
    font-weight: 500;
    caret-color: var(--secondary-text-color);
    color: var(--primary-text-color);
}

.weather-info img {
    max-width: 200px;
    height: auto;
}

.weather-info .temperature {
    font-size: 4rem;
    font-weight: 900;
    color: var(--primary-text-color);
}

.weather-info .min-max{
    color: var(--primary-text-color);
    font-size: 1.2rem;
    font-weight: 600;
}

.hr {
    width: 100%;
    height: 2px;
    background-color: var(--primary-text-color);
    opacity: 0.1;
    margin: 1rem auto;
}

.feels-location-info span {
    color: var(--secondary-text-color);
    font-size: 1rem;
    font-weight: 600;
}

.feels-location-info img {
    max-width: 50px;
    height: auto;
}

.feels-location-info .location-icon {
    max-width: 20px;
}

.location-name {
    color: var(--primary-text-color);
    font-size: 2rem;
    font-weight: 800;
}

.highlights {
    width: 100%;
    background: var(--container-background-color);
    border-radius: 0.5rem;
    padding: 0.8rem 0.8rem;
    margin: 2rem auto;
}

.highlight-data {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    margin-top: 2.5rem;
}

.card {
    background: var(--background-color);
    box-shadow: 0px 5px 10px rgba(69, 162, 157, 0.8);
    border-radius: 0.8rem;
    padding: 0.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card .title {
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--primary-text-color);
}

.card .card-value {
    font-weight: 800;
    color: var(--primary-text-color);
}

.highlights-title {
    font-size: 1.8rem;
    font-weight: 800;
    text-align: center;
    color: var(--primary-text-color);
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 30rem;
        grid-template-columns: 1fr;
    }

    form {
        align-items: center;
    }

    form input {
        width: 100%;
    }
}